.repo-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  margin-bottom: 300px;
}

.repo {
  display: flex;
  align-items: flex-start;
  padding: 12px;
  border: 3px solid #222;
  border-radius: 6px;
  gap: 12px;
}

.repo-avatar {
  width: 48px;
  height: 48px;
  border-radius: 6px;
  overflow: hidden;
  flex-shrink: 0;
}

.repo-primary {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.repo-header-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.repo-name {
  font-size: 16px;
  font-weight: 500;
}

.repo-description {
  font-size: 14px;
  color: #333;
}

.repo-action {
  border: 0;
  background-color: transparent;
  cursor: pointer;

  font-size: 20px;
  width: 36px;
  height: 36px;
  padding: 8px;
  margin: -8px;
}

.repo-primary {
}

.repo-secondary {
  font-size: 12px;
  color: #444;
  display: flex;
  gap: 12px;
}

.load-more {
  padding: 12px 16px;
  border: 3px solid #222;
  border-radius: 6px;
  position: relative;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
}

.load-more-indicator {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
}
